{% extends "base.html" %} {% load static %} {% block body_block %}
<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section">
    <img src="{% static 'img/hero-bg.jpg' %}" alt="" data-aos="fade-in" />

    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2>Kelly Adams</h2>
          <p>I'm a professional illustrator from San Francisco</p>
          <a href="{% url 'kelly_app:about' %}" class="btn-get-started"
            >About Me</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->
</main>
{% endblock %}
