{% extends "base.html" %} {% load static %} {% block body_block %}
<main class="main">
  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Portfolio</h2>
      <p>
        Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
        consectetur velit
      </p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div
        class="isotope-layout"
        data-default-filter="*"
        data-layout="masonry"
        data-sort="original-order"
      >
        <ul
          class="portfolio-filters isotope-filters"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-product">Card</li>
          <li data-filter=".filter-branding">Web</li>
        </ul>
        <!-- End Portfolio Filters -->
        {% if portfolio_list %}
        <div
          class="row gy-4 isotope-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          {% for item in portfolio_list %}
          <div
            class="col-md-4 col-sm-6 portfolio-item isotope-item {% if item.category == 'app' %}filter-app {% elif item.category == 'card' %}filter-product {% elif item.category == 'web' %}filter-branding {% endif %}"
          >
            <img
              src="{{ item.image.url }}"
              class="img-fluid"
              alt="{{ item.title }}"
              style="width: 100%; height: auto"
            />

            <div class="portfolio-info">
              <h4>{{ item.title }}</h4>
              <p>{{ item.description }}</p>
              <a
                href="{{ item.image.url }}"
                title="{{ item.title }}"
                data-gallery="portfolio-gallery-{{ item.category }}"
                class="glightbox preview-link"
              >
                <i class="bi bi-zoom-in"></i>
              </a>
              <a
                href="{% url 'kelly_app:portfolio-details' pk=item.pk %}"
                title="More Details"
                class="details-link"
              >
                <i class="bi bi-link-45deg"></i>
              </a>
            </div>
            <div
              class="d-flex justify-content-end mb-4"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <a
                href="{% url 'kelly_app:portfolio_delete' pk=item.pk %}"
                class="btn btn-warning"
              >
                <i class="bi bi-plus-circle-fill me-1"></i> delete
              </a>
            </div>
            <div
              class="d-flex justify-content-end mb-4"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <a
                href="{% url 'kelly_app:portfolio_update' pk=item.pk %}"
                class="btn btn-primary"
              >
                <i class="bi bi-plus-circle-fill me-1"></i> update
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No portfolio items found.</p>
        {% endif %}
        <div
          class="d-flex justify-content-end mb-4"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <a
            href="{% url 'kelly_app:portfolio_create' %}"
            class="btn btn-primary"
          >
            <i class="bi bi-plus-circle-fill me-1"></i> Thêm Sản Phẩm Mới
          </a>
        </div>

        <!-- End Portfolio Container -->
      </div>
    </div>
  </section>
  <!-- /Portfolio Section -->
</main>
{% endblock %}
